.container {
  border-top: 1px solid var(--accent-color);
  margin-top: 36px;
  padding: 24px 20px 24px 20px;
}
.img_wrapp {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: var(--accent-color);
  color: var(--dark-green-color);
  fill: currentColor;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn:hover {
  background-color: var(--dark-green-color);
  color: var(--accent-color);
}
.icon_btn {
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
}
