.header_container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  background-color: var(--bg-color-burger);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.btn:hover {
  background-color: var(--accent-color);
}
.btn_icon {
  width: 16px;
  height: 16px;
}
.header {
  width: 100%;
  height: 110px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}
.btn_wrapp {
  display: flex;
}
@media (min-width: 768px) {
  .btn {
    margin-right: 12px;
  }
}
