:root {
  color: var(--dark-green-color);
  background-color: var(--page-bgd-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #97d28b;
  --dark-green-color: #173d33;
  --page-bgd-color: #f3f5fa;
  --bg-card-color: #eaedf1;
  --error-field-color: #d28b8b;
  --bg-color-burger: #dcefd8;
  --secont-numb-color: rgba(23, 61, 51, 0.25);
}

body {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration-line: none;
}

button {
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 24px;
}

.section_title {
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
}

.paragr {
  margin-top: 24px;
  text-align: justify;
  font-size: 16px;
}
